*
{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.raji{
    background-image: url("color.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
 .nav-bar{
     display:flex;
     padding: 40px 120px;
         }  
.s3.form {
            margin: 45px 23px;
            display: block;
            color:#fff;
            font-size: 30px;
            cursor:pointer;
        }

.btn{
    padding: 20px;
    background: purple;
    cursor:pointer;
    font-weight: bold;
    border:0;
}
.menu .btn{
    float:right;
}


.vertical{
    height: 100%;
    background:purple;
    top:0;
    left:0;
    position:absolute;
}
.search-icon{
    height: 60%;
    width:80px;
}
.search-icon .fa {
    margin: 45px 23px;
    display: block;
    color:#fff;
    font-size: 30px;
    cursor:pointer;
}
.social-icon{
    height:35%;
    width:80px;
    background:plum;
    text-align:center;
    padding-top:27% ;
    bottom: 0;
    position: absolute;
}
.social-icon .fa{
    margin: 15px 23px;
    display:block;
    padding: 8px;
    border: 1px solid #000;
    border-radius:50%;
    cursor:pointer;
}
.notification{
    display: flex;
    width: 400px;
    right: 0;
    bottom: 0;
    position:absolute;
    background: purple;
    align-items: center;
}
.content{
    flex-basis: 50%;
    padding: 10px;
}
.content a{
    text-decoration: none;
    color:#000;
    font-size: 13px;
    margin: 0 10px;
}